services:
  gopizza_mongo:
    image: mongo:7
    container_name: gopizza_mongo
    restart: always
    environment:
      MONGO_INITDB_DATABASE: gopizza
    ports:
      - "27027:27017"
    volumes:
      - gopizza_mongo_data:/data/db
    networks:
      - gopizza_net

  gopizza_rabbitmq:
    image: rabbitmq:3-management
    container_name: gopizza_rabbitmq
    restart: always
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin
    ports:
      - "5677:5672"
      - "15677:15672"
    networks:
      - gopizza_net

  gopizza_kafka:
    image: bitnami/kafka:1.4.0
    container_name: gopizza_kafka
    restart: always
    ports:
      - "9097:9092"
    environment:
      KAFKA_CFG_NODE_ID: 1
      KAFKA_CFG_PROCESS_ROLES: controller,broker
      KAFKA_CFG_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093
      KAFKA_CFG_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9097
      KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      KAFKA_CFG_CONTROLLER_QUORUM_VOTERS: 1@localhost:9093
      KAFKA_CFG_CONTROLLER_LISTENER_NAMES: CONTROLLER
      ALLOW_PLAINTEXT_LISTENER: "yes"
    networks:
      - gopizza_net

networks:
  gopizza_net:
    driver: bridge

volumes:
  gopizza_mongo_data:
